 * {
     margin: 0;
     padding: 0;

 }

 

 .catalogue {

     margin-left: auto;
     margin-right: auto;
     margin-top: 1em;
     margin-bottom: 1em;


 }

 .top-menu {
     background-color: #ffbd00;
     width: 100%;
     height: 4em;
 }

 #logo {

     width: 4.3em;
     display: inline-block;
     padding-top: 0.2em;
 }

 .wrapper-top-menu {
     background-color: none;
     width: 80%;
     margin: auto;
 }

 .menu {


     background-color: #ee4266;
     width: 100%;
     height: 3em;
 }




 .wrapper-menu a {

     font-family: Arial, Helvetica, sans-serif;
     color: #ffd23f;
     font-size: 1.25em;
     text-decoration: none;
     width: 30%;
     display: inline;
     text-align: center;
     height: 100%;
    
     


 }

 .wrapper-menu a:hover {
     background-color: #F37A94;
    
 }



 .wrapper-menu {
     background-color: #ee4266;
     width: 60%;
     height: 100%;
     margin: auto;
     display: flex;
     vertical-align: middle;


 }


 .footer {

     font-family: courier, sans-serif;
     color: #ffd23f;
     text-align: center;
     background-color: #ee4266;
     width: 100%;
     height: 100%;
 } 


 .main {

     font-family: Arial, Helvetica, sans-serif;

 }


 h2.main {

     font-family: Arial, Helvetica, sans-serif;
     color: #ee4266;
     text-align: center;

 }

 img.main {

     display: block;
     margin-left: auto;
     margin-right: auto;
 }



 p.pricing {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color: #ee4266;
     font-size: 1.5em;
     text-align: center;

 }

 p.product-tag {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2em;
     text-align: center;
 }

 img.picture-tag {
     display: block;
     width: 60%;
     margin-left: auto;
     margin-right: auto;
 }


 div.product-container {
     display: inline-block;
     width: 20%;
     height: 10%;
     margin-left: 0.3em;
     margin-right: 0.3em;
     margin-top: 0.3em;
     margin-bottom: 0.5em;

 }

 div.product-container:hover {
    -webkit-box-shadow: -1px 5px 13px 4px #7D7D7D; 
    box-shadow: -1px 5px 13px 4px #7D7D7D;
     

 }

 .navigation {
     width: 20%;
     display: inline-block;
     font-size: 1.25em;
     margin-left: auto;
     margin-right: auto;
     vertical-align: top;
     
 }

 .navigation-wrapper {
   
    text-align: justify;
    width: 50%;
    height: 100%;
    margin: 4em;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navigation-wrapper p {

    font-size: 1.4em;
    margin-bottom: 0.5em;
    background-color: #ffd23f;
}

.navigation-wrapper a:hover{

    background-color: #ee4266; 
    color: white; 
    
    
 
    
}




 .contact {

     font-family: Arial, Helvetica, sans-serif;

 }


 .contact-card {
     background-color: #ffd23f;
     width: 100%;
 }

 p.contact-card {
     transform: uppercase;
     color: #ee4266;
     font-size: 1.875em;
     font-weight: bold;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }

 .contact-card-1 {
     width: 45%;
     display: inline-block;
     margin-right: auto;
     vertical-align: middle;
     padding-left: 0.65em;

 }

 img.contact-card {
     display: inline-block;
     width: 100px;
     padding-left: 200px;
 }

 p.contact-card-2 {
     color: #ee4266;
     font-size: 1.2em;
     font-family: Arial, Helvetica, sans-serif;

 }

 h2.nossas-lojas {
     text-align: center;
     transform: uppercase;
     color: #ee4266;
     font-size: 1.5em;
     font-family: Arial, Helvetica, sans-serif;

 }

 p.nossas-lojas {
     color: black;
     font-size: 1em;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.25em;
     text-align: center;
 }

 div.nossas-lojas {

     background-color: #ffd23f;
     width: 100%;
     display: flex;
 }

 div.container-lojas {
     width: 22%;
     display: inline-block;
 }